#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define HOST_OS 2
#include "zmk-helpers/helper.h"
#include "zmk-helpers/key-labels/4x12.h"
#include "zmk-helpers/unicode-chars/russian.dtsi"

#define KEYS_L LT0 LT1 LT2 LT3 LT4 LM0 LM1 LM2 LM3 LM4 LB0 LB1 LB2 LB3 LB4
#define KEYS_R RT0 RT1 RT2 RT3 RT4 RM0 RM1 RM2 RM3 RM4 RB0 RB1 RB2 RB3 RB4
#define THUMBS LH2 LH1 LH0 RH0 RH1 RH2

#define QUICK_TAP_MS 175

#define MAKE_HRM(NAME, HOLD, TAP, TRIGGER_POS)                                 \
  ZMK_HOLD_TAP(NAME, bindings = <HOLD>, <&ru_f>; flavor = "balanced";            \
               tapping-term-ms = <280>; quick-tap-ms = <QUICK_TAP_MS>;         \
               require-prior-idle-ms = <150>; hold-trigger-on-release;         \
               hold-trigger-key-positions = <TRIGGER_POS>;)

MAKE_HRM(hmll, &kp, &kp, KEYS_R THUMBS)
MAKE_HRM(hmrr, &kp, &kp, KEYS_L THUMBS)

// Тильда и обратная кавычка
ZMK_UNICODE_SINGLE(u_backtick,    N0, N0, N6, N0) // ` (U+0060)
//ZMK_UNICODE_SINGLE(u_tilde,       N0, N0, N7, E) // ~ (U+007E)

// Символы над цифрами (с Shift)
// ZMK_UNICODE_SINGLE(u_exclamation, KC_0, KC_0, KC_2, KC_1) // ! (U+0021)
// ZMK_UNICODE_SINGLE(u_at_sign,     KC_0, KC_0, KC_4, KC_0) // @ (U+0040)
// ZMK_UNICODE_SINGLE(u_hash_sign,   KC_0, KC_0, KC_2, KC_3) // # (U+0023)
// ZMK_UNICODE_SINGLE(u_dollar,      KC_0, KC_0, KC_2, KC_4) // $ (U+0024)
// ZMK_UNICODE_SINGLE(u_percent,     KC_0, KC_0, KC_2, KC_5) // % (U+0025)
// ZMK_UNICODE_SINGLE(u_caret,       KC_0, KC_0, KC_5, KC_E) // ^ (U+005E)
// ZMK_UNICODE_SINGLE(u_ampersand,   KC_0, KC_0, KC_2, KC_6) // & (U+0026)
ZMK_UNICODE_SINGLE(u_asterisk,    N0, N0, N2, A) // * (U+002A)
// ZMK_UNICODE_SINGLE(u_left_paren,  KC_0, KC_0, KC_2, KC_8) // ( (U+0028)
// ZMK_UNICODE_SINGLE(u_right_paren, KC_0, KC_0, KC_2, KC_9) // ) (U+0029)

// Знаки «-» и «_»
// ZMK_UNICODE_SINGLE(u_minus,       KC_0, KC_0, KC_2, KC_D) // - (U+002D)
// ZMK_UNICODE_SINGLE(u_underscore,  KC_0, KC_0, KC_5, KC_F) // _ (U+005F)

// Знаки «=» и «+»
// ZMK_UNICODE_SINGLE(u_equal,       KC_0, KC_0, KC_3, KC_D) // = (U+003D)
// ZMK_UNICODE_SINGLE(u_plus,        KC_0, KC_0, KC_2, KC_B) // + (U+002B)

// Скобки и обратная черта
// ZMK_UNICODE_SINGLE(u_left_bracket, KC_0, KC_0, KC_5, KC_B) // [ (U+005B)
// ZMK_UNICODE_SINGLE(u_left_curly,  KC_0, KC_0, KC_7, KC_B) // { (U+007B)
// ZMK_UNICODE_SINGLE(u_right_bracket, KC_0, KC_0, KC_5, KC_D) // ] (U+005D)
// ZMK_UNICODE_SINGLE(u_right_curly, KC_0, KC_0, KC_7, KC_D) // } (U+007D)
// ZMK_UNICODE_SINGLE(u_backslash,   KC_0, KC_0, KC_5, KC_C) // \ (U+005C)
// ZMK_UNICODE_SINGLE(u_vertical_bar, KC_0, KC_0, KC_7, KC_C) // | (U+007C)

// Точка с запятой и двоеточие
// ZMK_UNICODE_SINGLE(u_semicolon,   KC_0, KC_0, KC_3, KC_B) // ; (U+003B)
// ZMK_UNICODE_SINGLE(u_colon,       KC_0, KC_0, KC_3, KC_A) // : (U+003A)

// Апостроф и кавычки
// ZMK_UNICODE_SINGLE(u_apostrophe,  KC_0, KC_0, KC_2, KC_7) // ' (U+0027)
// ZMK_UNICODE_SINGLE(u_quotation,   KC_0, KC_0, KC_2, KC_2) // " (U+0022)

// Запятая и знак меньше
// ZMK_UNICODE_SINGLE(u_comma,       KC_0, KC_0, KC_2, KC_C) // , (U+002C)
// ZMK_UNICODE_SINGLE(u_less_than,   KC_0, KC_0, KC_3, KC_C) // < (U+003C)

// Точка и знак больше
// ZMK_UNICODE_SINGLE(u_period,      KC_0, KC_0, KC_2, KC_E) // . (U+002E)
// ZMK_UNICODE_SINGLE(u_greater_than, KC_0, KC_0, KC_3, KC_E) // > (U+003E)

// Слеш и вопросительный знак
// ZMK_UNICODE_SINGLE(u_slash,       KC_0, KC_0, KC_2, KC_F) // / (U+002F)
// ZMK_UNICODE_SINGLE(u_question,    KC_0, KC_0, KC_3, KC_F) // ? (U+003F)

// Пробел
// ZMK_UNICODE_SINGLE(u_space,       KC_0, KC_0, KC_2, KC_0) // (пробел) (U+0020)

/ {
    combos {
        compatible = "zmk,combos";

        bt_sel_3 {
            bindings = <&bt3>;
            key-positions = <42 30>;
            layers = <2>;
        };

        bt_sel_4 {
            bindings = <&bt4>;
            key-positions = <30 18>;
            layers = <2>;
        };
    };

    macros {
        lm: lm {
            compatible = "zmk,behavior-macro-two-param";
            wait-ms = <0>;
            tap-ms = <0>;
            #binding-cells = <2>;
            bindings =
                <&macro_param_1to1>,
                <&macro_press>,
                <&mo MACRO_PLACEHOLDER &macro_param_2to1>,
                <&macro_press>,
                <&kp MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_param_2to1>,
                <&macro_release>,
                <&kp MACRO_PLACEHOLDER &macro_param_1to1>,
                <&macro_release>,
                <&mo MACRO_PLACEHOLDER>;
        };

        repeat5_macro: repeat5_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&key_repeat &key_repeat &key_repeat &key_repeat &key_repeat>;
            label = "REPEAT5_MACRO";
        };

        switch_to_ru: switch_to_ru {
            compatible = "zmk,behavior-macro";
            label = "SWITCH_TO_RU";
            #binding-cells = <0>;
            bindings = <
                &tog 3
                &kp LG(SPACE)
            >;
        };

        switch_to_en: switch_to_en {
            compatible = "zmk,behavior-macro";
            label = "SWITCH_TO_EN";
            #binding-cells = <0>;
            bindings = <
                &tog 0
                &kp LG(SPACE)
            >;
        };

        bt_clr_0: bt_clr_0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 0 &bt BT_CLR>;
            label = "BT_CLR_0";
        };

        bt_clr_1: bt_clr_1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 1 &bt BT_CLR>;
            label = "BT_CLR_1";
        };

        bt_clr_2: bt_clr_2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 2 &bt BT_CLR>;
            label = "BT_CLR_2";
        };

        bt_clr_3: bt_clr_3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 3 &bt BT_CLR>;
            label = "BT_CLR_3";
        };

        bt_clr_4: bt_clr_4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 4 &bt BT_CLR>;
            label = "BT_CLR_4";
        };
    };

    behaviors {
        hmr: hmr {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            bindings = <&kp>, <&kp>;
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54 55 56 57 58 59 43>;
        };

        hml: hml {
            compatible = "zmk,behavior-hold-tap";
            label = "HML";
            bindings = <&kp>, <&kp>;
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 44 45 46 47 48 49 55 56 57 58 59 43 42 50 51 52 53 54>;
        };

        lt_tg: lt_tg {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TOGGLE";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&to>;
        };

        bt0: bt0 {
            compatible = "zmk,behavior-mod-morph";
            label = "BT0";
            bindings = <&bt BT_SEL 0>, <&bt_clr_0>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        bt1: bt1 {
            compatible = "zmk,behavior-mod-morph";
            label = "BT1";
            bindings = <&bt BT_SEL 1>, <&bt_clr_1>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        bt2: bt2 {
            compatible = "zmk,behavior-mod-morph";
            label = "BT2";
            bindings = <&bt BT_SEL 2>, <&bt_clr_2>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        bt3: bt3 {
            compatible = "zmk,behavior-mod-morph";
            label = "BT3";
            bindings = <&bt BT_SEL 3>, <&bt_clr_3>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        bt4: bt4 {
            compatible = "zmk,behavior-mod-morph";
            label = "BT4";
            bindings = <&bt BT_SEL 4>, <&bt_clr_4>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
  &kp Q             &kp W            &kp E              &kp R        &kp T        &kp Y      &kp U            &kp I              &kp O             &kp P
  &hml LCTRL A      &hml LEFT_ALT S  &hml LEFT_SHIFT D  &hml LGUI F  &kp G        &kp H      &hmr LGUI J      &hmr LEFT_SHIFT K  &hmr LEFT_ALT L   &hmr LCTRL POUND
  &kp Z             &kp X            &kp C              &kp V        &kp B        &kp N      &kp M            &kp COMMA          &kp DOT           &kp SQT
  &kp C_VOL_DN      &kp C_VOL_UP     &kp ESCAPE         &lt 2 TAB    &kp SPACE    &kp ENTER  &lt 1 LG(SPACE)  &kp BACKSPACE      &none             &none
            >;
        };

        sym_num {
            bindings = <
  &kp EQUAL         &kp PIPE             &kp AMPERSAND                &kp DOLLAR            &kp EXCLAMATION      &kp QUESTION  &kp N7  &kp N8          &kp N9        &kp AT
  &hml LCTRL COLON  &hml LEFT_ALT SLASH  &hml LSHFT LEFT_PARENTHESIS  &hml LGUI LEFT_BRACE  &kp LEFT_BRACKET     &kp COMMA     &kp N4  &kp N5          &kp N6        &kp DOT
  &kp SEMI          &kp BACKSLASH        &kp RIGHT_PARENTHESIS        &kp RIGHT_BRACE       &kp RIGHT_BRACKET    &u_backtick   &kp N1  &kp N2          &kp N3        &kp N0
  &u_asterisk       &kp PLUS             &kp PERCENT                  &kp MINUS             &kp UNDERSCORE       &soft_off     &trans  &studio_unlock  &bt BT_SEL 0  &bt BT_CLR
            >;
        };

        nav {
            bindings = <
  &kp LS(LA(LEFT_ARROW))       &kp LS(LA(RIGHT_ARROW))      &kp LA(UP_ARROW)            &kp LA(DOWN_ARROW)         &repeat5_macro    &kp PAGE_UP            &kp HOME               &kp UP                 &kp END                &kp LS(LA(LC(LG(F))))
  &hml LCTRL LG(LEFT_BRACKET)  &hml LALT LG(RIGHT_BRACKET)  &hml LSHIFT LA(LEFT_ARROW)  &hml LGUI LA(RIGHT_ARROW)  &kp LG(LS(N4))    &kp PG_DN              &kp LEFT               &kp DOWN               &kp RIGHT              &kp LS(F6)
  &kp C_PP                     &kp LG(GRAVE)                &kp LA(LG(N))               &kp LA(LG(J))              &kp LG(LS(N5))    &kp LS(LA(LC(LG(C))))  &kp LS(LA(LC(LG(M))))  &kp LS(LA(LC(LG(E))))  &kp LS(LA(LC(LG(L))))  &kp LS(LA(LC(Z)))
  &trans                       &trans                       &trans                      &trans                     &trans            &kp LS(LA(LC(LG(A))))  &kp LS(LA(LC(LG(W))))  &kp LS(LA(LC(LG(S))))  &kp LS(LA(LC(LG(T))))  &kp LS(LA(LC(LG(R))))
            >;
        };
    };
};